@import './palette'
.root
    min-width: 100%
    padding: 0px 8%
    .root_component
        display: flex
        justify-content: center
        align-items: center
        align-content: center
        min-height: 100vh