.slider
    display: flex
    position: fixed
    min-width: 50px
    justify-content: center
    align-items: center
    flex-direction: column
    max-width: 50px
    padding: 50px 5px
    background-color: grey
    .slide
        padding: 10px 0px