.slider
    display: flex
    position: fixed
    min-width: 50px
    justify-content: center
    align-items: center
    flex-direction: column
    max-width: 50px
    background-color: grey
    .slide
        margin: 10px